{% extends "www/base.html" %}
{% load staticfiles %}
{% block content %}

<section>
<div class="banner" style="height:100px;">
</div>
</section>
<div class="clearall"></div>
<nav class="sub_menu">
<div>
<h3>关于我们</h3>
<a href="introduction" class="sub_menu_on">公司介绍</a>
<a href="calture">企业文化</a>
<a href="carriar">人才招聘</a>
<a href="contactus">联系我们</a>
</div>
</nav>
<section class="wow bounceIn animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: bounceIn;">
	<div class="t_1">
		<div>
			<h3>公司介绍</h3>
		</div>
	</div>
</section>
{% include 'www/_introduction.html' %}

<section class="wow fadeInUp  animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
	<div class="bg_1 pa5 mb30">
		<section class="wow bounceIn animated" style="visibility: visible; animation-name: bounceIn;">
			<div class="t_2">
				<div>
					<h3>企业文化</h3>
				</div>
			</div>
		</section>
		<!-- w_set -->
	</div>
</section>
{% include 'www/_calture.html' %}

<section class="wow fadeInUp  animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
	<div class="bg_1 pa5 mb30">
		<section class="wow bounceIn animated" style="visibility: visible; animation-name: bounceIn;">
			<div class="t_2">
				<div>
					<h3>人才招聘</h3>
				</div>
			</div>
		</section>
		<!-- w_set -->
	</div>
</section>
{% include 'www/_carriar.html' %}
<div class="w_set pa20">
	<div class="i_about">
		<section class=" wow fadeIn" data-wow-delay="0.6s">
		</section>
		<div class="i_about_text_pic">
			<section class="wow fadeInLeft" data-wow-delay="1.0s">
			</section>
			<section class="wow bounceIn" data-wow-delay="1.6s">
			</section>
			<section class="wow fadeInRight" data-wow-delay="1.0s">
			</section>
		</div>
	</div>
</div>

<div class="blank30"></div>

<div class="w_set pa20" style="z-index:9999999; position:relative; ">
</div>
<!-- w_set -->


{% endblock %}
