{% extends "www/base.html" %}
{% load staticfiles %}
{% block content %}

<div>
<br>
</div>

<section class="wow bounceIn animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: bounceIn;">
	<div class="t_1">
		<div>
			<p></p>
			<h3><a href="/introduction" title="公司介绍">公司介绍</a></h3>
		</div>
	</div>
</section>
{% include 'www/_introduction.html' %}

<section class="wow fadeInUp  animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
	<div class="bg_1 pa5 mb30">
		<section class="wow bounceIn animated" style="visibility: visible; animation-name: bounceIn;">
			<div class="t_2">
				<div>
					<h3><a href="/calture" title="企业文化">企业文化</a></h3>
				</div>
			</div>
		</section>
		<!-- w_set -->
	</div>
</section>
{% include 'www/_calture.html' %}

<section class="wow fadeInUp  animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
	<div class="bg_1 pa5 mb30">
		<section class="wow bounceIn animated" style="visibility: visible; animation-name: bounceIn;">
			<div class="t_2">
				<div>
					<h3><a href="/carriar" title="人才招聘">人才招聘</a></h3>
				</div>
			</div>
		</section>
		<!-- w_set -->
	</div>
</section>
{% include 'www/_carriar.html' %}
<div class="w_set pa20">
	<div class="i_about">
		<section class=" wow fadeIn" data-wow-delay="0.6s">
		</section>
		<div class="i_about_text_pic">
			<section class="wow fadeInLeft" data-wow-delay="1.0s">
			</section>
			<section class="wow bounceIn" data-wow-delay="1.6s">
			</section>
			<section class="wow fadeInRight" data-wow-delay="1.0s">
			</section>
		</div>
	</div>
</div>

<div class="blank30"></div>

<div class="w_set pa20" style="z-index:9999999; position:relative; ">
</div>
<!-- w_set -->


{% endblock %}
