{% load staticfiles %}
<!-- 页底 -->
<div class="footer_url">
	<section class="wow fadeInUp" data-wow-delay="0.6s">
		<div class="w_set">
			<dl>
				<dt></dt>
				<dd>
					{% for special in specials %}
					<a href="{{special.url}}" title="{{special.title}}">{{special.contentspecial}}</a>
					{% endfor %}
				</dd>
			</dl>


	<div class="w_470  l_r" style="float:right;"> 
		<div class="blank10"></div>
		<h3 class="t_3"><a rel="nofollow" title="{{feedback}}" href="/guestbook" target="_blank">{{contactus}}</a>&nbsp;&nbsp;<span>Contact</span></h3>
		<div class="blank10"></div>
		<style type="text/css">
			.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
			.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
		</style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/getscript?v=1.1&amp;ak=&amp;services=true&amp;t=20130716024058"></script>
	<link rel="stylesheet" type="text/css" href="http://api.map.baidu.com/res/11/bmap.css" >
	<div style="width:450px;height:300px;max-width:100%;margin:0 auto;" id="dituContent"></div>
	<script type="text/javascript">
	    //创建和初始化地图函数：
	    function initMap(){
	        createMap();//创建地图
	        setMapEvent();//设置地图事件
	        addMapControl();//向地图添加控件
	        addMarker();//向地图中添加marker
	    }
	    
	    //创建地图函数：
	    function createMap(){
	        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
	        var point = new BMap.Point(116.4, 40);//定义一个中心点坐标
	        map.centerAndZoom(point,12);//设定地图的中心点和坐标并将地图显示在地图容器中
	        window.map = map;//将map变量存储在全局
	    }
	    
	    //地图事件设置函数：
	    function setMapEvent(){
	        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
	        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
	        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
	        map.enableKeyboard();//启用键盘上下左右键移动地图
	    }
	    
	    //地图控件添加函数：
	    function addMapControl(){
	        //向地图中添加缩放控件
		var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_RIGHT,type:BMAP_NAVIGATION_CONTROL_SMALL});
		map.addControl(ctrl_nav);
	                }
	    
	    //标注点数组
	    var markerArr = [{title:"华威天宝科技",content:"地址：华威天宝",point:"116|40",isOpen:0,icon:{w:21,h:21,l:0,t:0,x:6,lb:5}}
			 ];
	    //创建marker
	    function addMarker(){
	        for(var i=0;i<markerArr.length;i++){
	            var json = markerArr[i];
	            var p0 = json.point.split("|")[0];
	            var p1 = json.point.split("|")[1];
	            var point = new BMap.Point(p0,p1);
				var iconImg = createIcon(json.icon);
	            var marker = new BMap.Marker(point,{icon:iconImg});
				var iw = createInfoWindow(i);
				var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
				marker.setLabel(label);
	            map.addOverlay(marker);
				map.openInfoWindow(iw, map.getCenter());  
	            label.setStyle({
	                        borderColor:"#808080",
	                        color:"#333",
	                        cursor:"pointer"
	            });
				
				(function(){
					var index = i;
					var _iw = createInfoWindow(i);
					var _marker = marker;
					_marker.addEventListener("click",function(){
					    this.openInfoWindow(_iw);
				    });
				    _iw.addEventListener("open",function(){
					    _marker.getLabel().hide();
				    })
				    _iw.addEventListener("close",function(){
					    _marker.getLabel().show();
				    })
					label.addEventListener("click",function(){
					    _marker.openInfoWindow(_iw);
				    })
					if(!!json.isOpen){
						label.hide();
						_marker.openInfoWindow(_iw);
					}
				})()
	        }
	    }
	    //创建InfoWindow
	    function createInfoWindow(i){
	        var json = markerArr[i];
	        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
	        return iw;
	    }
	    //创建一个Icon
	    function createIcon(json){
	        var icon = new BMap.Icon("{% static 'www/images/map/us_mk_icon.png' %}", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
	        return icon;
	    }
	    
	    initMap();//创建和初始化地图
	</script>


	</div>
	<div class="blank30"></div>
	<div class="clearall"></div>
</div>
</section>
</div>
<!--/footer_url-->


<div class="foot">
<section class="wow fadeIn" data-wow-delay="0.6s">
<div class="box">


<dl class="foot_left">
<dd>
<!--  网站页底关于我们等说明 --><a href="{$base_url}/sitemap.html" target="_blank">sitemap</a>
</dd>
<dd class="blank20"></dd>
<dd>
<form name='search' action="www/search" onsubmit="search_check();" method="post">
<input type="text" name="keyword" value="{{pleaceinputtext}}" onfocus="if(this.value=='{{pleaceinputtext}}') {this.value=''}" onblur="if(this.value=='') this.value='{{pleaceinputtext}}'" class="s_text" />
<input name='submit' type="submit" value="" align="middle" class="s_btn" />
</form>
</dd>
<dd class="blank20"></dd>
<dd>
<form name='search' action="www/ecodingsearch" onsubmit="search_check();" method="post">
<input type="text" name="keyword" value="" onfocus="" onblur="if(this.value=='') this.value='{{enter}}{{ecoding}}'" class="s_text" />
<input name='submit' type="submit" value="" align="middle" class="s_btn" />
</form>
</dd>
<dd class="blank20"></dd>
<dd>
<input type="text" id="oid" name="oid" value="{{orderquery}}" onfocus="if(this.value=='{{orderquery}}') {this.value=''}" onblur="if(this.value=='') this.value='{{orderquery}}'" class="s_text" />
<input name='submit' type="submit" value="" onclick="javascript:window.location.href='www/orders?&oid='+document.getElementById('oid').value;" align="middle" class="s_btn" />
</dd>


<dd class="blank20"></dd>
<form name="listform" id="listform"  action="www/email" method="post">
<dd>
<input type="text" name="email" id="email" value=" {{mailsubscription}} "  onfocus="if(this.value==' {{mailsubscription}} ') {this.value=''}" onblur="checkEmail(this)" class="s_text" /> 
<input type="submit" align="absmiple" name='submit' value=" " class="s_btn" />
</dd>
</form>
</dl>

<dl class="foot_qr_codes">
<dd><img width="150" src="{% static 'www/tool/qrcode' %}" /></dd>
<dd>
</dd>
</dl>

<dl class="copyrights">
<dd> Copyright @<a title="北京华威天宝科技有限公司" href="#">北京华威天宝科技有限公司</a></dd>
<dd></dd>
<dd><a rel="nofollow" href="http://www.miibeian.gov.cn/" target="_blank">京ICP备13007818号</a></dd>
<dd></dd>
</dl>

<div class="blank30"></div>

<div class="clear"></div>
</div>
</section>
</div>
<!--/footer-->



<!--[if (gte IE 9)|!(IE)]><!-->
<!-- 在线客服 -->
{% include 'www/servers_metro_color.html' %}
<link rel="stylesheet" href="{% static 'skin/js/html5/animate.min.css' %}">
<script src="{% static 'skin/js/html5/wow.min.js' %}"></script>
<script src="{% static 'skin/js/html5/custom.js' %}"></script>
<!-- 短信 -->

<script type="text/javascript" src="{% static 'www/js/common.js' %}" ></script>
<!-- 载入效果 -->

<!-- Baidu Button BEGIN -->
<script type="text/javascript" id="bdshare_js" data="type=slide&img=6&pos=right&uid=620555" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
     var bds_config = {"bdTop":150};
     document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?t=" + new Date().getHours
();
</script>
<!-- Baidu Button END -->

<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

</body>
</html>
