{% extends "www/base.html" %}
{% load staticfiles %}
{% block content %}
<section>
<div class="banner" style="height:100px;">
</div>
</section>
<div class="clearall"></div>
<nav class="sub_menu">
<div>
<h3>新闻</h3>
</div>
</nav>
<div class="t_1">
<div>
<h3>新闻</h3>
<p>News</p>
</div>
</div>
<div class="blank30"></div>
<div class="w_set">

<div class="blank30"></div>
<article class="content" id="print">
<!-- 内容 -->

<div class="w_set">

<!-- 内容列表开始 -->
<div class="w_set">

<div class="blank30"></div>
<article class="content" id="print">
<!-- 内容 -->

<div id="content_text">
{{new.content|safe}}
</div></article>

</div>



<!-- 内容列表结束 -->


<!-- 列表分页开始 -->

{% endblock %}