{% extends "www/base.html" %}
{% load staticfiles %}
{% block content %}
<section>
<div class="banner" style="height:100px;">
</div>
</section>
<div class="clearall"></div>
<nav class="sub_menu">
<div>
<h3>新闻</h3>
</div>
</nav>
<div class="t_1">
<div>
<h3>新闻</h3>
<p>News</p>
</div>
</div>
<div class="blank30"></div>
<div class="w_set">

<div class="blank30"></div>
<!-- 内容 -->


<!-- 内容列表开始 -->
{% for new in news %}
      <li>
      <a href = "/news/{{new.id}}" >{{new.title}}</a>
      </li>
{% endfor %}
<!-- 内容列表结束 -->
</div>


<!-- 列表分页开始 -->
<div class="blank30"></div><div class="blank30"></div>
{% include "www/pagination.html" %}
			

{% endblock %}