{% extends "www/base.html" %}
{% load staticfiles %}
{% block content %}
<section>
<div class="banner" style="height:100px;">
</div>
</section>
<div class="t_1 wow bounceIn animated" style="visibility: visible; animation-name: bounceIn;">
	<div>
	<h3>产品中心</h3>
	<p>products</p>
	</div>
</div>
<div class="blank30"></div>


<div class="w_set">

<div class="blank30"></div>
<article class="content" id="print">
<!-- 内容 -->

<div id="content_text">
{{show_product.description|safe}}
</div></article>

</div>



{% endblock %}
