{% extends "www/base.html" %}
{% load staticfiles %}
{% block content %}
<section>
<div class="banner" style="height:100px;">
</div>
</section>


<section class="wow fadeInUp  animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
	<div class="w_set">

<article class="content" id="print">
<!-- 内容 -->
<div><h4>{{roll.name}}</h4></div>
<div id="content_text">
{{roll.descriptor|safe}}
</div></article>

</div>

	<!-- w_set -->
</section>


{% endblock %}
