{% extends "www/base.html" %}
{% load staticfiles %}
{% block content %}
<section>
<div class="banner" style="height:100px;">
</div>
</section>
<div class="clearall"></div>
<nav class="sub_menu">
<div>
<h3>解决方案</h3>
</div>
</nav>
<div class="t_1">
<div>
<h3>解决方案</h3>
<p>solution</p>
</div>
</div>
<div class="blank30"></div>

<div class="w_set pc_show" >


<p>
<!-- cp_info -->


<!-- 内容缩略图列表 -->
<script src="{static 'www/skin/js/m_img_hover.js'}" type="text/javascript"></script><!-- 图片悬浮 -->
<ul class="list_cp">
	{% for solution in solutions %}
	<li>
	<img alt="" src="{{product.photo.url}}"  style="width: 240px; height: 300px; top: 0px; left: 0px;">
	<a title="" target="_blank" href="/www/solutions/{{product.id}}]" class="list_cp_info" style="display: none;"><h3>{{solution.name}}</h3>
	<p>{{solution.summary}}</p>
	</a>
	</li>
	{% endfor %}
</ul>

<!-- 内容缩略图列表结束 -->

<!-- 列表分页开始 -->
<div class="blank30"></div><div class="blank30"></div>
{% include "www/pagination.html" %}


{% endblock %}